@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Plus+Jakarta+Sans:wght@500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

font-family: 'Plus Jakarta Sans', sans-serif;

#all {
    background: rgb(184, 116, 39)
}

.header {
    background:url(../hewan/zoo.jpg);
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0);
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 400px;
    position: relative;
    isolation: isolate;
}

.header::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(209, 125, 0, 0.781);
    opacity: .5;
}

.header h1 {
    font-family: 'Archivo Black', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 80px;
}

.konten h2 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700px;
    font-size: 30px;
}

.jenis h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500px;
    font-size: 20px;
}

.sumber {
background: rgba(209, 125, 0, 0.781);
display: flex;
justify-content: center;
align-content: center;
text-align: center;
}

.sumber li {
    display: inline-block;
    justify-content: center;
    align-content: center;
    text-align: center;
}