
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

table, th, td {
    border: solid 1px black;
}

#taf {
    background: rgb(246,58,255);
    background: linear-gradient(90deg, rgba(248,107,255,1) 0%, rgba(108,125,255,1) 50%, rgba(71,254,255,1) 100%);
    padding: 15px 0;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #242d3b;
}

div {
    display: block;
}

.head {
    margin-bottom: 30px;
}

#taf .container {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(32,32,32,.3);
    padding: 20px;
    text-align: center;
}

.container {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding-bottom: 50px;
}

.semuatabel {
        border-bottom: solid 5px rgba(108,125,255,1);
        padding-bottom: 30px;
        margin-bottom: 50px;
}